/* Colors */

$colorBlack: #212121;
$colorPink: #ff9c97;
$colorOrange: #ffba7f;
$colorPeach: #fad3b2;
$colorLightGray: #eee9e5;
$colorYellow: #ffe181;
$colorLightGreen: #f2fef3;

/* Font Family */

$anekTamil: 'Anek Tamil', sans-serif;
$satisfy: 'Satisfy', cursive;

/* Font Weight */

$fwExtraSmall: 100;
$fwSmall: 200;
$fsNormal: 300;
$fwMedium: 400;
$fwBig: 500;
$fwExtraBig: 600;
$fwLarge: 700;
$fwExtraLarge: 800;

/* Border Radius */

$brSmall: 2px;
$brMedium: 5px;
$brBig: 8px;

/* Border Width */

$bwSmall: 1px;
$bwMedium: 2px;
$bwBig: 4px;
