@import './variables';
@import './elements';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $anekTamil;
}

html,
body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
	list-style: none;
}

.swiper-pagination-bullet {
	background-color: $colorPeach !important;
}
