@import '../../sass/base.scss';

.main_banner {
	height: calc(90vh - 80px);

	> div {
		height: 100%;
	}

	.slide {
		.content {
			height: 100%;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
			display: flex;

			.info {
				display: flex;
				width: 50%;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				gap: 1rem;
				color: $colorBlack;

				h2 {
					font-family: $satisfy;
					font-size: 4.5rem;
					color: inherit;
				}

				p {
					font-size: 1.3rem;
					font-weight: $fwMedium;
					color: $colorBlack;
					color: inherit;
				}
			}
		}

		&:nth-child(1) {
			.content {
				.info {
					h2 {
						text-shadow: 2px 2px 0 $colorYellow;
					}
				}
			}
		}

		&:nth-child(2) {
			.content {
				.info {
					h2 {
						text-shadow: 2px 2px 0 $colorLightGreen;
					}
				}
			}
		}

		&:nth-child(3) {
			.content {
				.info {
					h2 {
						text-shadow: 2px 2px 0 $colorPink;
					}
				}
			}
		}

		&:nth-child(4) {
			.content {
				.info {
					h2 {
						text-shadow: 2px 2px 0 $colorLightGreen;
					}
				}
			}
		}

		&:nth-child(5) {
			.content {
				.info {
					h2 {
						text-shadow: 2px 2px 0 $colorOrange;
					}
				}
			}
		}
	}

	@media screen and (max-width: 700px) {
		.slide {
			.content {
				background-position: 100% 10%;

				.info {
					width: 100%;

					h2 {
						font-size: 2.5rem;
					}

					p {
						font-size: 1.2rem;
						font-weight: $fwExtraBig;
						text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
					}
				}
			}

			&:nth-child(4) {
				.content {
					background-position: 10% 100%;
				}
			}
		}
	}

	@media screen and (max-width: 576px) {
		.slide {
			.content {
				.info {
					justify-content: flex-end;
					padding-bottom: 4rem;
					text-align: center;

					a {
						width: 100%;
					}
				}
			}
		}
	}
}
