@import '../../sass/base.scss';

.offers {
	.products {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.3rem;
	}

	@media screen and (max-width: 960px) {
		.products {
			flex-wrap: wrap;
			gap: 5%;
		}
	}
}
